body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  color: #333;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000;
  background-image: url('https://cdn.nody.ir/files/2021/08/18/nody-%D8%B9%DA%A9%D8%B3-%D8%B3%DB%8C%D8%A7%D9%87-%D8%B3%D9%81%DB%8C%D8%AF-%D9%81%D8%A7%D9%86%D8%AA%D8%B2%DB%8C-1629308301.jpg');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.content {
  position: relative;
  z-index: 1;
  max-width: 800px;
  margin: 0 auto;
  padding: 50px;
}

.profile {
  text-align: center;
  margin-bottom: 50px;
}

.profile img {
  width: 200px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.section {
  margin-bottom: 50px;
}

.section h3 {
  margin-bottom: 20px;
}

.section ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.section ul li {
  margin-bottom: 10px;
}

@media only screen and (max-width: 600px) {
  .content {
    padding: 20px;
  }
  
  .profile img {
